.App {
  text-align: center;
}

html {
  height: 100%;
}
/* body styling */
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  
}
/* footer styling */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #000;
  text-align: center;
  color: #fff;
}
